<div>
    <div class="profile">
        <div> 
            {{ section.settings.user_img | image_url: width: 200 |  image_tag }}
        </div>
       
        <h3 style="color:blue;">{{ section.settings.user_name }}</h3>

        <p>
            {{ section.settings.user_bio }}
        </p>
    </div>    
</div>

{% schema %}
    {
      "name": "Profile",
      "tag": "section",
      "class": "profile",
      "settings": [
        {
        "type": "image_picker",
        "id": "user_img",
        "label": "User Photo"
        },  
        {
        "type": "text",
        "id": "user_name",
        "label": "User Name",
        "default": "Add user name"
        },
        {
        "type": "richtext",
        "id": "user_bio",
        "label": "User Biographia",
        "default": "Add personal description"
        }
  ],
      "presets": [
            {
            "category": "Profile",
            "name": "User Profile"
            }
        ]
    }
{% endschema %}